.secprocontainer {
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--dark);
  }
  
  .secprocard {
    width: 300px;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .secprocard > *:not(img) {
    padding: 5px 10px;
  }
  
  .secprocard img {
    width: 100%;
    height: 180px;
  }
  
  .secprocard-body {
    padding: 5px;
  }
  .secprorow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .secprocard-body p {
    color: var(--ProjectRegLight);
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .view-btn a {
    padding: 5px 15px;
    border: 1.5px solid #007bff;
    border-radius: 3px;
    text-decoration: none;
    color: #007bff;
  }
  
  .btn-group {
    display: flex;
  }
  
  .btn-group .secprobtn a {
    padding: 5px 15px;
    background-color: #28a745;
    color: #fff;
    border-radius: 3px;
    margin-left: -2px;
  }
  .btn-group a {
    margin: 0 10px;
    text-decoration: none;
    color:var(--dark);
  }
  