body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 30vw;
  border-radius: 20px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.Dropdown-root {
  position: relative;
  width: 26.5vw;
  margin-top: 30px;
  border-radius: 10px;
}
.modal-input {
  margin-top: 20px;
  padding: 10px 15.2vw 15vh 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.login-btn {
  max-width: 105%;
  font-weight: 500;
  padding: 0.6rem 0;
  font-size: 15px;
}
.Dropdown-control {
  border-radius: 10px;
}
